html {
    height: 100%;
}

body {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;

    overflow-y: hidden;
}

body > .lb-main-container {
    height: calc(100% - 44px);
    display: flex;
    flex-direction: column;
}

.appbar {
    width: 100%;
    height: 44px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row no-wrap;
    -ms-flex-flow: row no-wrap;
    flex-flow: row no-wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    padding: 0 10px 0 15px;
    /*background-color: #34362e;*/
    background-color: #eeeeee;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.appbar .home-button {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    float: left;
    padding: 8px 4px 8px 40px;
    border: 0;
    /*color: #eee;*/
    color: #4a4a4a;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    z-index: 1;

    background-image: url(../img/logbrowser.svg);
    background-size: 40px 40px;
    background-position: 0 4px;
    background-repeat: no-repeat;

    pointer-events: none;
}

.appbar .home-button span {
    padding-left: 16px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: inherit;
}

.lb-screen {
    flex: 1;
    background-color: #151515;
    color: #CDEE69;
    /*color: #22da26;*/
    /*color: #9CD9F0;*/
    /*color: #E09690;*/
    /*height: 100%;*/
    padding: 5px;

    overflow-y: hidden;
    border-bottom: 2px solid #151515;
}

.lb-screen.lb-following {
    border-bottom: 2px solid #CDEE69;
    -webkit-animation: following-border 1s infinite alternate;
    -moz-transition: following-border 1s infinite alternate;
    -o-transition: following-border 1s infinite alternate;
    transition: following-border 1s infinite alternate;
}

@-webkit-keyframes following-border {
    0% {
        border-bottom-color: #CDEE69;
    }
    100% {
        border-bottom-color: #46572b;
    }
}

.lb-logline {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    font-family: monospace;
    font-size: 1.25em;
    line-height: 1.25em;
    white-space: pre-wrap;
    word-break: break-all;
}

.lb-logline:hover {
    background-color: #2e2e2e;
    color: #d1f75f;
    cursor: pointer;
}

.lb-logline mark {
    background-color: #b3b300;
    color: #000;
    animation-name: lb-logline-highlight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes lb-logline-highlight {
    0% {
        background-color: #b3b300;
    }
    50% {
        background-color: #CACA00
    }
    100% {
        background-color: #b3b300;
    }
}

/* */
.lb-button {
    width: auto;
    border: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #2196f3;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 19px 4px 19px;
    margin: 0;
    cursor: pointer;

    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.lb-button:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.lb-button:focus {
    outline: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.lb-button span {
    line-height: 18px;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    color: white;
}

.lb-button img {
    height: 18px;
    width: 18px;
    color: white;
}

.lb-button.disabled, .lb-button[disabled] {
    cursor: default;
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lb-appbarmiddle {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    flex: 1;
}

.lb-up-button, .lb-down-button, .lb-start-button, .lb-end-button, .lb-tail-button, .lb-search-button, .lb-start-mob-button, .lb-end-mob-button, .lb-search-mob-button {
    margin-top: 9px;
    margin-left: 10px;
}

.lb-up-button span {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: block;
}

.lb-down-button span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: block;
}

.lb-search-button, .lb-button.lb-search-button:hover, .lb-button.lb-search-button:active {
    background: url(../img/ic_search_white_24px.svg);
    background-repeat: no-repeat;
    background-color: #563d7c;
    background-position: 5px 2px;
    transition: none;
}

.lb-button.lb-search-button:hover, .lb-button.lb-search-button:active {
    opacity: 0.7;
}

.lb-search-mob-button {
    background: #563d7c url(../img/ic_search_white_24px.svg) no-repeat center !important;
}

.lb-start-mob-button {
    background: #2196f3 url(../img/ic_first_page_white_24px.svg) no-repeat center !important;
}

.lb-end-mob-button {
    background: #2196f3 url(../img/ic_last_page_white_24px.svg) no-repeat center !important;
}

.lb-start-button, .lb-end-button, .lb-start-mob-button, .lb-end-mob-button {
    /*background-color: rgb(28, 184, 65);*/
}

.lb-button {
    transition: background 0.8s;
}

.lb-button:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.lb-button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

@media (min-width: 601px) {
    .lb-start-mob-button, .lb-end-mob-button, .lb-search-mob-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .lb-start-button, .lb-end-button, .lb-tail-button, .lb-search-button {
        display: none;
    }
}

.lb-main-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.lb-position {
    width: 20%;
    display: inline-block;
    padding-left: 20px;
}

.lb-position input[type=range].slider {
    margin-top: 0;
    margin-bottom: 0;
}

/* input range */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/*blinking cursor*/
.cursor-blink {
    order: 2;
    align-self: center;

    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;

    display: inline-block;
    width: 10px;
    height: 18px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    /*background: #CDEE69;*/
    /*background: #c90;*/
    background: #719600;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

/* responsiveness */
@media (max-width: 900px) {
    .lb-position {
        display: none;
    }
}

@media (max-width: 800px) {
    .home-button-text {
        display: none;
    }

    div.lb-popup {
        width: 80%;
    }
}

@media (max-width: 400px) {
    div.lb-search-message {
        font-size: 14px;
    }
}

/*Search Modal*/

.lb-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.lb-overlay.lb-popup-show {
    visibility: visible;
    opacity: 1;
}

.lb-popup {
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    opacity: .90;
    transition: all 2s ease-in-out;
}

.lb-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.lb-popup .lb-close {
    position: absolute;
    top: 0;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.lb-popup .lb-close:hover {
    color: #1275B3;
}

.lb-popup .lb-content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.lb-search {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.lb-search-input {
    display: inline-block;
    position: relative;
    width: calc(100% - 50px);
}

.lb-search-term {
    float: left;
    width: 100%;
    border: 3px solid #563d7c;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #222;

    font-size: 14px;
}

.lb-search-term:focus {
    color: #000;
}

.lb-search-popup-button {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #563d7c;
    background: #563d7c;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.lb-search-icon {
    background: url(../img/ic_search_white_24px.svg);
    background-repeat: no-repeat;
    background-color: #563d7c;
    background-position: 7px 5px;
}

.lb-search-options {
    padding-top: 20px;
    color: #563d7c;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.lb-search-options label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.lb-search-options input[type=checkbox] {
    position: absolute;
    margin-left: -16px;
    line-height: normal;
}

.lb-search-actions {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lb-search-modal-button {
    background-color: #1f8dd6;
    margin-right: 20px;
}

.lb-search-message {
    color: darkred;
    visibility: hidden;
    font-size: 18px;
}